@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
  background-color: white;
}

a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header:hover{
    background: linear-gradient(to right,rgb(82, 81, 81),rgb(112, 109, 109),rgb(32, 32, 32),rgb(0, 0, 0))
  }
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color:#D36B00;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgb(0, 0, 0);
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(0, 0, 0);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: bold;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: rgb(255, 254, 254);
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color:#D36B00;
	
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */
.content{
    height: 150vh;
    width: 85%;
    margin: auto;
    background: linear-gradient(rgb(8, 8, 8),rgb(247, 247, 247),rgb(37, 36, 36),rgb(255, 255, 255));
    background-size: 300% 300%;
    animation: color 10s ease-in-out infinite;
    border-radius: 5%;
    margin-bottom: 5rem;
  }
  @keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
  }
.sectionOne{
    max-width: 100%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    padding: 5%;    
}
.style{
    margin-top: 0%;
    text-align: justify;
   
}
.style h1{
    font-size: 5rem;
    margin-top: 20%;
}
.style p{
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
}
.pic{
    width: 50%;
  }
.sectionTwo{
    max-width: 100%;
    margin: 2%;
    margin-top: 10%;
    display: flex;     
}
.project h1{
    font-size: 4rem;
    margin-left: 40%;

}

img{
    width: 100%;
    height: 100%;
    
}

.style2{
    display: flex;
    
}

button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 2%;

}
button:hover{
    background-color: white;
    color:#D36B00;
}



.picsur{
    padding: 2rem;
    border-style: solid;
    border-radius: 1rem;
    border-color: rgb(255, 255, 255);
    background-color: black;
    width: 50%;
    height: 30rem;
    transition: transform .2s;
}

.picsur:hover{
    background-color: rgb(253, 253, 253);
    box-shadow: 0 0 2px 1px rgb(0, 0, 0);
    transform: scale(1.1);
}
.style2 p{
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    text-align: justify;
}
.style2 button{
    width: 15rem;
    margin-left: 2rem;
}
.title{
    color: white;
    font-size: 2rem;
    margin-top: 3rem;
    margin-left: 40%;
    font-family: monospace;
}


@media screen and (max-width: 768px) {
    .content {
        width: 90%;
		height: 90%;
        margin: 5% auto;
        padding: 5%;
        border: 5px solid rgb(0, 0, 0);
        background-color: transparent;    
        display: flex;
        margin-top: 30%;
        flex-direction: column; 
    }
	.container {
		min-height: 200vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
    
    .title {
        margin-top: 2rem;
    }
    
    .style {
        margin-top: 5%; /* Adjusted margin-top */
        text-align: justify;
    }
	.sectionOne{
		max-width: 100%;
		margin: auto;
		margin-top: 1%;
		display: flex;
		padding: 1%;
		display: flex;
        flex-direction:column-reverse; 
	}
	.sectionTwo{
		margin: auto;

	}
    
    .pic {
        width: 50rem;
		height: 50rem;
		margin-left: 9%;
		margin-top: -20%;
		margin-bottom: 5%;
		
    }
	.style h1{
		font-size: 5rem;
		margin-top: 20%;
		text-align: center;
	}
	.style p{
		font-size: 2rem;
		margin-bottom: 2rem;
		text-align: center;
	}
	
    button {
      margin-left: 40%;
	  width: 20%;
    }

	.picsur{
		padding: 1rem;
		border-style: solid;
		border-radius: 1rem;
		border-color: rgb(255, 255, 255);
		background-color: black;
		width: 100%;
		height: 100%;
		transition: transform .2s;
		margin-bottom: 50%;
		
	}
	
	.picsur:hover{
		background-color: rgb(253, 253, 253);
		box-shadow: 0 0 2px 1px rgb(0, 0, 0);
		transform: scale(1.1);
	}
	
.style2{
    display: flex;
	flex-direction: column;
    
}
.project h1{
	margin-left: 35%;
}
	.style2 p{
		color: white;
		margin-top: 2.5rem;
		margin-bottom: 2rem;
		text-align: justify;
		font-size: 1.5rem;
	}
	.style2 button{
		width: 15rem;
		margin-left: 2rem;
	}
  }

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #D36B00;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid #050505;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}

